# Node / React
Fridgy-frontend/node_modules/
Fridgy-frontend/build/
Fridgy-frontend/dist/
Fridgy-frontend/dist-ssr/
Fridgy-frontend/.cache/
Fridgy-frontend/.next/

# Logs
Fridgy-frontend/npm-debug.log*
Fridgy-frontend/yarn-debug.log*
Fridgy-frontend/yarn-error.log*
Fridgy-frontend/pnpm-debug.log*
Fridgy-frontend/lerna-debug.log*

# Environment files
Fridgy-frontend/.env
Fridgy-frontend/.env.local
Fridgy-frontend/.env.development.local
Fridgy-frontend/.env.test.local
Fridgy-frontend/.env.production.local

# Editor directories and files
Fridgy-frontend/.vscode/*
!.vscode/extensions.json
.idea

# Temporary files
*.tmp
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db
